body {
font-size: 22px;
}


.logo_img {
    height: 200px;
    width: 200px;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    background: #d6ad27;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}


.footer_line {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.footer_line_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_img {
    max-width: 100px;
    height: auto;
}

.footer_line_span {
    margin-left: 10px;
    font-size: 1.2rem;
}

.form-control {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-control button:hover {
    background-color: #218838;
}
