{% extends "base.html" %}

{% block title %}
Primary Page
{% endblock %}

{% block body %}
<h1>Primary Page</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Autem cupiditate eum quis quisquam.</li>
<li>Ducimus illum nemo officiis perspiciatis!</li>
<li>Eligendi officiis quae saepe sunt.</li>
<li>Molestias nostrum quisquam sed voluptate.</li>
<li>Doloremque ipsam itaque molestias sint!</li>
<li>Consequatur cupiditate iure mollitia possimus!</li>
<li>Dolor eligendi enim exercitationem incidunt.</li>
<li>Assumenda beatae illo natus ratione.</li>
<li>Corporis doloremque hic modi quasi?</li>
<li>Cumque cupiditate officiis quae. Fugit!</li>
<li>Accusantium beatae harum perferendis ut.</li>
<li>Accusantium exercitationem impedit numquam repellendus.</li>
<li>Aliquam aperiam corporis natus neque.</li>
<li>Consequatur eveniet modi possimus suscipit!</li>
<li>Ab architecto enim inventore recusandae.</li>
<li>Esse quisquam quo unde vel?</li>
<li>Dolor labore nobis porro quibusdam?</li>
<li>Inventore praesentium quaerat sapiente tenetur?</li>
<li>At consequatur natus quod voluptatibus.</li>
<li>A asperiores corporis dignissimos repellendus.</li>
<li>Atque consequatur distinctio dolores quam?</li>
<li>Consequatur exercitationem hic id ipsum!</li>
<li>Accusantium blanditiis quia quibusdam ratione.</li>
<li>Dignissimos earum maiores quidem sequi.</li>
<li>Corporis dolores quas rerum unde?</li>
<li>Adipisci amet atque eum vel.</li>
<li>A deserunt error ipsum possimus.</li>
<li>Harum impedit perspiciatis recusandae repellat?</li>
<li>Dolor et obcaecati praesentium repellendus!</li>
<li>Deserunt ipsum odit perferendis sunt.</li>
<li>Dolores molestiae quas unde voluptates.</li>
<li>Cupiditate ipsa iusto optio temporibus?</li>
<li>Culpa fuga odio voluptate voluptatibus!</li>
<li>Aliquam, fugiat quos? Aliquam, possimus.</li>
<li>Autem deserunt ex molestias temporibus!</li>
<li>Dolorum illum quis rem soluta.</li>
<li>Deleniti iure optio placeat sunt.</li>
<li>Nesciunt nulla reiciendis saepe vitae.</li>
<li>Iure officiis tempore voluptatibus! Fuga.</li>
<li>Deserunt id illum qui temporibus!</li>
<li>Deleniti doloribus fuga hic porro?</li>
<li>Aut delectus dignissimos qui totam!</li>
<li>Aliquam dicta porro quisquam voluptate.</li>
<li>Cupiditate magnam quaerat quam suscipit!</li>
<li>Dignissimos ducimus earum facere quod?</li>
<li>Accusantium corporis molestiae natus totam.</li>
<li>Deserunt expedita id iusto veritatis?</li>
<li>Distinctio incidunt neque repellat tempora.</li>
<li>Cupiditate delectus numquam similique ullam?</li>
{% endblock %}